/* Root */
:root{
  --text-color:#9e9aa8;
  --text-color-dark:#34313d;
  --light-green:#2bd0d0;
  --hover-light-green:#9ae3e3;
  --site-bgc:#fff;
  --light-bg:#eff1f7;
  --dark-bg: #232127;
  --error-color:#f46363;
}
/* Fonts */
@font-face {
  font-family: "Poppins";
  src: url("../Fonts/") format("woff2"),
      url("../Fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../Fonts/Poppins-Bold.woff2") format("woff2"),
      url("../Fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
::after,
::before{
  box-sizing: inherit;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:"Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 26px;
  background-color: var(--site-bgc);
  color: var(--text-color);
}

/* PLACEHOLDER STYLES */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(52, 49, 61, 0.5);
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(52, 49, 61, 0.5);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(52, 49, 61, 0.5);
}



/* CONTAINER */
.container{
  width: 100%;
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* SITE HEADER */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
  font-weight: 700;
  line-height: normal;
}

.site-header__container{
  display: flex;
  align-items: center;
}

.site-header__logo {
  text-decoration: none;
}

.logo{
  margin-right: 45px;
  display: inline-block;
}
.logo:hover{
  opacity: 0.8;
}
.logo__img{
  display: block;
  width: 120px;
  height: 33px;
  object-fit: contain;
}

/* SITENAV */
.site-header__sitenav{
  margin-right: auto;
}

.sitenav__list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link{
  display: block;
  text-decoration: none;
  color: var(--text-color);

}
.sitenav__link:hover{
  color: var(--text-color-dark);
}
.sitenav__link:active{
  opacity: 0.6;
}

.registration {
  display: flex;
  align-items: center;
  margin-left: 45px;
}
.registration__link{
  text-decoration: none;
  font-weight: 700;
  line-height: normal;
  color: var(--text-color);
}

.registration__link:hover{
  color: var(--text-color-dark);
}
.registration__link:active{
  opacity: 0.6;
}
.registration__link:not(:last-child){
  margin-right: 35px;
}

/* BUTTON */
.button{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  background-color: var(--light-green);
  border-radius: 28px;
  border: none;
  color: #fff;
  padding: 13px 40px;
  cursor: pointer;
  white-space: nowrap;
}
.button:hover{
  color: #fff;
  background-color: var(--hover-light-green);
}
.header-button{
  font-size: 15px;
  line-height: 22.5px;
  padding: 8px 23px;
}
.url-shortner__button {
  padding: 17px 41px;
  border-radius: 10px;
}
/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
}

/* HERO */
.hero {
  padding-top: 92px;
  padding-bottom: 222px;
  background-image: url(../img/working_with_computer.svg);
  background-repeat: no-repeat;
  background-position: left calc(50% + 475px) top 32px;
}
.hero__inner {
  width: 100%;
  max-width: 565px;
}
.hero__heading {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 80px;
  line-height: 90px;
  font-weight: 700;
  letter-spacing: -2px;
  color: var(--text-color-dark);
}
.hero__text {
  margin-top: 0;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  margin-bottom: 40px;
}


/* INDEX URL SHORTNER FEATURES WRAPPER */
.index-url-shortner-features-wrapper{
  display: flex;
  flex-direction: column;
  background-color: var(--light-bg);
}

.index-URl-shortner-features-wrapper__url-shortner{
  margin-top: -84px;
  margin-bottom: 40px;

}
/* URL SHORTNER */
.url-shortner__form {
  display: flex;
  padding: 48px 64px;
  background-color: #3a3054;
  border-radius: 10px;
  background-image: url(../img/purple-bgi.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.url-shortner_input-wrapper {
  display: flex;
  font-display: column;
  position: relative;
  flex-grow: 1;
  margin-right: 24px;
}
.url-shortner__input {
  display: block;
  width: 100%;
  flex-grow: 1;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--text-color-dark);
  border-radius: 10px;
  border: 3px solid transparent;
  padding: 14px 32px;
}

.url-shortner__input:not(:focus):not(:placeholder-shown):invalid{
  border-color: var(--error-color);
  color: rgba(244, 99, 99, 0.5);
}
.url-shortner-error-msg {
  display: none;
}
.url-shortner__input:not(:focus):not(:placeholder-shown):invalid ~ .url-shortner-error-msg{
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.11px;
  color: var(--error-color);
  font-style: italic;
}